body {
  margin: 0 auto;
  width: 600px;
  height: 1000px;
  font-family: 'Raleway', sans-serif;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "info"
  "images"
  "paginator"
  "footer"
  ;  
}

.header {
  grid-area: header;
  background-image: url(/img/header-01.jpg);
  background-size: 100% 225px;
  background-repeat: no-repeat;
  height: 225px; 
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.90);
  
}

.headLine {
  margin: 30px;
}

h1 {
  margin: 0;  
}

#tagLine {
  margin: 0.5em 0;
  font-size: 11px;
}

nav {
  background-color: rgba(0, 0, 0, 0.50);
  font-size: 12px;
  line-height: 30px;
  border-bottom: 4px solid rgb(0, 99, 161);
  height: 30px;
  position: relative;
  bottom: -83px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
}

nav ul li {
  display: inline;
}


#main {
  margin: 20px;
}

#main p {
  font-size: 12px;
} 

.info {
  grid-area: info;
  color: rgba(0, 0, 0, 0.76);
}

.images {
  grid-area: images;
  display: grid;
  display: flex;
  gap: 5px;
  border-radius: 4px;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 15vh);
  grid-template-areas: 
  "img1 img2 img3 img4"
  "img5 img6 img7 img8";
}

.paginator {
  background: rosybrown;
  grid-area: paginator;
}

.footer {
  background: lightcoral;  
  grid-area: footer;
}

#img1 {
  grid-area: img1;
  grid-row: 1 / 1;
}

#img2 {
  grid-area: img2;
  grid-row: 2 / 1;
}

#img3 {
  grid-area: img3;
  grid-row: 3 / 1;
}

#img4 {
  grid-area: img4;  
}

#img5 {
  grid-area: img5;

}

#img6 {
  grid-area: img6;
  
}

#img7 {
  grid-area: img7;

}

#img8 {
  grid-area: img8;

}