* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1000px;
  height: 800px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "info"
  "images"
  "paginator"
  "footer"
  ;  
}

.header {
  grid-area: header;
  background-image: url(/img/header-01.jpg);
  background-size: 100% 150px; /*size width 100% och 150px i height*/
  background-repeat: no-repeat;
  height: 150px; /*japp, den behövs*/
}

/* 
.header img {
  width: 100%;
}
*/

.info {
  background: greenyellow;
  grid-area: info;
}

.images {
  background: peachpuff;
  grid-area: images;
}

.paginator {
  background: rosybrown;
  grid-area: paginator;
}

.footer {
  background: lightcoral;  
  grid-area: footer;
}